@import "../../components/base";

@media screen and (min-width: 768px) {
    .movie-bookmark {
        width: 30px;
        height: 30px;

        &:before {
            border-left-width: 15px;
            border-bottom-width: 15px ;
            border-right-width: 15px;
        }

        &:after {
            border-right-width: 15px;
            border-bottom-width: 15px;
            border-left-width: 15px;
        }
    }
}