$font-arial: 'Arial', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$font-comic-sans: 'Comic Sans MS', 'Monaco CY', 'Nimbus Mono L',	cursive;
$font-courier-new: 'Courier New', 'Charcoal CY', 'Nimbus Mono L', monospace;
$font-georgia: 'Georgia', 'Charcoal CY', 'Century Schoolbook L', serif;
$font-impact: 'Impact', 'Charcoal CY', 'Nimbus Roman No9 L', sans-serif;
$font-times-new-roman: 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif;
$font-trebuchet-ms: 'Trebuchet MS', 'Helvetica CY', 'DejaVu Sans', sans-serif;
$font-verdana: 'Verdana', 'Geneva CY', 'DejaVu Sans', sans-serif;

$color-blue: #1586d5;
$color-gray: #666666;
$color-orange: #fc6d24;

@mixin multiLineEllipsis($lineHeight: 1.2em, $linesNum: 1, $bgColor: #ffffff) {
    position: relative;
    overflow: hidden;
    padding-right: 10px;
    line-height: $lineHeight;
    max-height: $lineHeight * $linesNum;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: $lineHeight;
        background: linear-gradient(to right, rgba($bgColor, .5), rgba($bgColor, 1) 50%);
    }
}