@import "../base";

@media screen and (min-width: 768px) {
    .lg-toggle-btn {
        font-size: 14px;
        font-weight: 400;
        width: 160px;
        height: 40px;
        line-height: 40px;
    }
}