@import "../../components/base";

.friend-vote {
    height: 80px;
    overflow: hidden;
    position: relative;
    padding: 5px 0;

    &.m-new {
        &:after {
            content: '';
            position: absolute;
            background: #ed6767;
            width: 5px;
            height: 5px;
            top: -16px;
            bottom: 0;
            left: 8px;
            margin: auto;
            border-radius: 50%;
        }
    }
}
.friend-vote__main {
    padding-right: 75px;
    padding-left: 68px;
    height: 100%;
    display: block;

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -4px;
    }
}
.friend-vote__main-left {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    text-align: center;
    width: 50px;
    margin-left: -60px;
}
.friend-vote__date {
    font-size: 11px;
    color: #c0c0c0;
    margin-top: 5px;
    line-height: 1;
    height: 11px;
}
.friend-vote__main-text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #666666;
    margin-top: -16px;
}
.friend-vote__username {
    font-weight: 700;
}
.friend-vote__vote {
    margin-left: 10px;
    position: relative;
    top: 1px;
}
.friend-vote__movie {
    position: absolute;
    width: 100%;
    left: 100%;
    margin-left: -70px;
    top: 0;
    bottom: 0;
    padding: 5px 20px;
    transition: left 500ms;
    box-sizing: border-box;
    background: #ffffff;

    > .movie-prev {
        height: 100%;
        padding: 0;

        .movie-bookmark {
            z-index: 3;
            left: 2px;
        }

        .movie-prev {
            z-index: 3;
            left: 0;
        }
        .movie-cover {
            width: 45px;
            height: 100%;
        }
        .movie-prev__content {
            margin-left: 65px;
            height: 80px;
            min-height: 0;
        }
        .movie-title {
            white-space: nowrap;
            max-height: 17px;
        }
        .movie-ot-y {
            display: none;
        }
        .movie-genres {
            white-space: nowrap;
            max-height: 16px;
            margin-top: 0;
        }
        .movie-date {
            display: none;
        }
        .movie-prev__votes {
            bottom: 10px;
        }
    }

    &.m-active {
        left: 70px;
    }
}
.friend-vote__movie-title {
    max-height: 38px;

    > strong {
        font-weight: 600;
        color: #1d1d1d;
    }
}
.friend-vote__movie-toggle {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    width: 45px;
    z-index: 2;
}